<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Log in</title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="../common/css/materialize.min.css" media="screen,projection"/>
    <link rel="stylesheet" href="../common/css/main.css">
</head>
<body>

    <div class="content_area">
        <div class="row">
            <div class="card_width_login_register">
                <div class="card">
                    <div class="card-content">
                        <span class="card-title">Authentication</span>
                        <form action="">
                            <div class="input-field">
                                <input id="email" type="email" class="validate">
                                <label for="email">Email</label>
                                <span class="helper-text" data-error="wrong" data-success="email input is correct">Helper text</span>
                            </div>
                            <div class="input-field">
                                <input id="password" type="password" class="validate">
                                <label for="password">Password</label>
                            </div>
                        </form>
                    </div>
                    <div class="card-action">
                        <a href="#" class="btn waves-effect waves-light">Log in
                        </a>
                        <a href="" class="btn-flat waves-effect second_button_color">Register</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="../common/js/materialize.min.js"></script>
</body>
</html>